nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    margin: 38px 0 0 58px;
}

main {
    margin-left: 200px;
}

body {
    margin-top: 38px;
}

.main_box {
    margin: 0 370px 0 370px;
}

.first_box {
    display: flex;
    gap: 20px;
}

.img_box {
    display: flex;
    width: 112px;
    height: 60px;
    padding-top: 248px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #D7D8DE;
    padding: 248px 20px 20px 628px;
}

.button_box {
    display: flex;
    gap: 12px;
    padding: 20px;
}

.main_button {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.pre_profile {
    display: flex;
    width: 368px;
    height: 302px;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    border-radius: 12px;
    border: 1px solid #D7D8DE;
    background: #FFF;
}

.logo {
    display: flex;
    width: 120px;
    height: 40px;
    align-items: center;
    gap: 2px;
    aspect-ratio: 3/1;
}