<style>
    footer {
        width: 1060px;
        height: 300px;
        background: #EBECF0;
        padding: 50px 60px 50px 60px;
        justify-self: center;
    }

    label {
        font-family: Pretendard;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .first_group {
        display: flex;
        gap: 20px;

        color: #000;
        font-size: 24px;

        margin-bottom: 50px;
    }

    .descript_group {
        display: flex;
        flex-direction: column;
        gap: 12px;

        color: #666;
        font-size: 24px;

        margin-bottom: 12px;
    }

    .developer_group {
        display: flex;
        flex-direction: column;

        gap: 10px;

        color: #666;
        font-size: 18px;

        margin-bottom: 30px;
    }

    .date_group {
        color: #666;
        font-size: 24px;
    }
</style>

<footer>
    <div class="first_group">
        <label>공지사항</label>
        <label>|</label>
        <label>개인정보처리방침</label>
        <label>|</label>
        <label>이용약관</label>
    </div>

    <div class="descript_group">
        <label>미림마이스터고등학교 2학년 웹 응용 SW 프로그래밍 실무 - 과목 프로젝트 수행평가</label>
        <label>Developer GitHub</label>
    </div>

    <div class="developer_group">
        <a href="https://github.com/seyoung5309" target="_blank">
            <label>seyoung5309</label>
        </a>
        <a href="https://github.com/mirim-jyd" target="_blank">
            <label>mirim-jyd</label>
        </a>
    </div>

    <div class="date_group">
        <label>한울 (2026.08.10 ~ 진행중)</label>
    </div>
</footer>